<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Index</title>
</head>

<body class="text-center">
    {{>navbar}}
    <h1>Oops, {{title}} - {{errorMessage}}!</h1>
    {{>footer}}
</body>

</html>