<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Document</title>
</head>

<body class="text-center ">
    {{>navbar}}
    <h1>Hi! My name is {{name}}</h1>
    {{>footer}}
</body>

</html>