<!DOCTYPE html>
<html lang="en">

<head>

    <title>Index</title>
</head>

<body class="text-center container">
    {{>header}}
    <form>
        <input class="form-control" placeholder="location" />
        <button type="submit">Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    <p></p>

    <script src="js/app.js"></script>
</body>

</html>